* {
    margin: 0;
    padding: 0;

}



body{
    background-color: rgb(11, 39, 35);
color: white;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(27, 102, 89);
}
    nav ul{
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 18px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    font-size: 1.2rem;
    color: rgb(44, 189, 157);
}



.left{
    font-size: 1.5rem;
}













/* main section */



.first{
display: flex;
justify-content: space-around;
margin: 22px 0;
}
.first > div{
    width: 40%;
}



.leftSection{
font-size: 2.5rem;
margin: 70px 0;
}


.rightSection{
    display: flex;
}

.rightSection img{
    width: 80%;
    margin: 50px 0;
}

.bilal{
    color: rgb(68, 230, 203);
}



#element{
    color: rgb(68, 230, 203);
}





.secondSection{
    max-width: 80vw;
    margin: auto;
    margin-top: 40px;
    height: 80vh;
}

.secondSection h1{
   font-size: 1.8rem;
}










/* chat gpt */




.card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 10px;
  }
  
  .card-content {
    padding: 20px;
  }
  
  
  
  .card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }











  .links{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }





  .service{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .about{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .contact{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .projects{
    display: flex;
    justify-content: center;
    margin-top: 15px;

  }




  .abhtml{
    display: flex;
    justify-content: center;
    margin-top: 30px;

  }
.hobbies{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hobbyh2{
    display: flex;
    justify-content: center;
}

.connectabouth3{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}
.connectabout{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;

}








.servicemain{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}



.contact{
  display: flex;
  justify-content: space-around;
}


.contactme{
  display: flex;
justify-content: center;
margin: 2px
}












